*.class
*.jar
*.ignore
*.bat
*Test.java
*Tester.java
/java-solutions/base/
/java-solutions/expression/common/
/java-solutions/expression/Expression.java
/java-solutions/expression/ToMiniString.java
/java-solutions/expression/BigDecimalExpression.java
/java-solutions/expression/TripleExpression.java
